*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html { font-size: 100%;
	margin: 0;
	width: 100%;
}

p {
  float: left;
  height: 5.4;
  width: 29.3%;
  margin: 2%;
  text-align: center;
  line-height: 3.6rem;
  border-style: solid;
  border-width: 0.4rem;
  border-radius: 0.8rem;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.2rem;
}

.sel{ 
  color: #94b1e0;
  border-color: #94b1e0;
  
}
.desel{
  color: #a7aaaf;
  border-color: #a7aaaf;
}
.desel:hover{
  color: #8b9dba;
  border-color: #8b9dba;
}

div, text, th, td, p, button {
    font-family: Helvetica;
}

.container {
  margin: 0%;
  width: 100%;
}
table{
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
}

@media (min-width: 40rem) {
  .column {
    width: 100%
  	margin: 0%;
  	min-height: 4rem;
    float: left;
  }

  .icon {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    stroke-width: 0;
    fill: white;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  button.accordion {
    background-color: #eee;
    color: #8ca5cc;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 1.16rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
  div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-left-style: dashed;
    border-color: #5d95ef;
  }
button.accordion.active, button.accordion:hover {
    background-color: #8ca5cc;
    color: white;
}
  label {
    padding: 0.6rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    background-color: #5d95ef;
    display: inline-block;
}
  label:hover {
    cursor: pointer;
    background-color: #4980d8;
}
  .card{
    padding: 0rem;
    margin: 1%;
    width: 98%;
    text-align: center;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 67.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.three-fourth { width: 75%; }
  .column.flow-opposite { float: right; }  
  .header{ background-color: black;}
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}